<!DOCTYPE html>
<html data-ng-app="app" data-ng-strict-di>
    <head>
        <title>AngularJS To-Do List Exercise</title>
        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="assets/styles.css" />
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.5.1/lodash.min.js"></script>
        <script type="text/javascript" src="https://code.angularjs.org/1.4.8/angular.min.js"></script>
        <script type="text/javascript" src="https://code.angularjs.org/1.4.8/angular-route.min.js"></script>
        <script type="text/javascript" src="https://code.angularjs.org/1.4.8/angular-animate.min.js"></script>
        <script type="text/javascript" src="app/app.js"></script>
        <script type="text/javascript" src="app/shared/app.services.js"></script>
        <script type="text/javascript" src="app/shared/app.directives.js"></script>
        <script type="text/javascript" src="app/components/app.controllers.js"></script>
    </head>
    <body class="todo" data-class-route>
        <div class="container">
            <header>
                <h1>To-Do <small>List</small></h1>
            </header>
            <main>
                <div data-ng-view></div>
            </main>
            <footer></footer>
        </div>

        <!-- INI TEMPLATES -->
        <!-- View: test -->
        <script type="text/ng-template" id="/view/test">
            <h2>Lorem ipsum...</h2>
        </script>

        <!-- View: home -->
        <script type="text/ng-template" id="/view/home">
            <!-- list="list.currentList" text="list.taskText" -->
            <!-- data-controller-name="homeCtrl" -->
            <div class="todo-form" data-tasker></div>
            <div class="todo-list" data-tasks></div>
        </script>

        <!-- Partial: form -->
        <script type="text/ng-template" id="/partial/form">
            <form role="form">
                <input type="text" class="form-control" placeholder="Your Task" name="task" data-ng-model="list.taskText">
                <button type="button" class="btn btn-primary btn-lg btn-block" data-ng-click="list.addTask()">Add Task</button>
            </form>
        </script>

        <!-- Partial: task -->
        <script type="text/ng-template" id="/partial/task">
            <ul class="list-unstyled"></ul>
                <li class="checkbox" data-ng-repeat="task in list.tasks">
                    <label>
                        <!-- ng-model="task.stat" -->
                        <input type="checkbox" value="" ng-click="list.completeTask(task.id)"/>
                        <span class="done-{{task.stat}}">{{task.text}}</span>
                    </label>

                    <button type="button" class="close" aria-label="Close" ng-click="list.removeTask(task.id)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </li>
            </ul>
        </script>
        <!-- END TEMPLATES -->
    </body>
</html>
